@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

:root {
 --main-black: #333;
 --main-gray: #aaa;
 --main-light-gray: #ebebeb;
}

html {
	font-family: 'Pretendard', sans-serif;
 font-size: 16px;
}

body {
 overflow-x: hidden;
 color: var(--main-black);
 letter-spacing: -0.05em;
 background-color: white;
}

a {
 text-decoration: none;
 color: var(--main-black);
}

p {
 line-height: 1.4;
}

/* 내비게이션 */
header > nav.global-nav {
 position: absolute;
 padding: 0.75rem;
 width: 100%;
}

header > nav.global-nav > ul {
 display: flex;
 justify-content: space-between;
 line-height: 0.75;
}

header > nav.global-nav > ul > li > a {
 font-size: 0.75rem;
}

nav.local-nav {
 display: flex;
 align-items: center;
 padding: 0.75rem;
 border-bottom: 1px solid var(--main-light-gray);
 position: absolute;
 top: calc(0.75rem * 3);
 background-color: #fff;
 width: 100%;
}

nav.local-nav > .product-name {
 font-size: 1.25rem;
 font-weight: 700;
 margin-right: auto;
}

nav.local-nav > ul > li {
 font-size: 0.75rem;
 display: inline-block;
}

nav.local-nav > ul > li > a {
 padding: 0.5rem;
 width: 100%;
}

nav.local-nav > ul > li:last-child > a {
 padding-right: 0;
}

/* 컨텐츠 */
.scroll-section {
 padding: 50vh 1rem 0 1rem;
 border-bottom: 1px solid red;
}

.scroll-section-0 > h1 {
 font-size: 3.75rem;
 text-align: center;
}

.main-message {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 2.5rem;
 margin-bottom: 5px;
 text-align: center;
 width: 100%;
 height: 100vh;
 opacity: 0;
}

#js_showScene0 .scroll-section-0 > div.main-message:not(#js_stickyMsg11) {
 display: none;
}

.scroll-section > div.main-message > p {
 font-size: 3rem;
 font-weight: 800;
 line-height: 1.3;
}

.scroll-section-1 > p,
.scroll-section-3 > p {
 font-size: 1.5rem;
}

.scroll-section-1 > p > strong,
.scroll-section-3 > p > strong {
 font-size: 3rem;
 font-weight: 700;
 color: var(--main-black);
 margin-right: 0.75rem;
}

.scroll-section-2 > div.main-message > small {
 font-size: 1.5rem;
 display: block;
 text-align: start;
}

.scroll-section-2 > div.main-message > .pin {
 width: 1px;
 height: 100px;
 background-color: var(--main-black);
}

footer {
 margin-top: 5rem;
 background-color: var(--main-gray);
}

footer > p {
 padding: 30px 0;
 text-align: center;
}

.sticky-elem {
 position: fixed;
 top: 0;
 left: 0;
 display: none;
}

#js_showScene0 .scroll-section-0 > .sticky-elem,
#js_showScene1 .scroll-section-1 > .sticky-elem,
#js_showScene2 .scroll-section-2 > .sticky-elem,
#js_showScene3 .scroll-section-3 > .sticky-elem {
 display: flex;
}









@media (min-width: 834px) {
 html {
  font-size: 90%;
 }
 
 /* 컨텐츠 */
 .scroll-section {
  padding: 25vh 1.5rem 0 1.5rem;
 }

 .scroll-section-0 > h1 {
  font-size: 10rem;
 }

 .scroll-section-0 > div.main-message > p {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
 }
 
 .scroll-section-1 > p > strong,
 .scroll-section-3 > p > strong {
  font-size: 4rem;
  font-weight: 800;
 }
}
