@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

:root {
 --main-black: #333;
 --main-gray: #ebebeb;
}

html {
	font-family: 'Pretendard', sans-serif;
 font-size: 16px;
}

body {
 overflow-x: hidden;
 color: var(--main-black);
 letter-spacing: -0.04em;
 background-color: white;
}

a {
 text-decoration: none;
 color: var(--main-black);
}

p {
 line-height: 1.6;
}

/* 내비게이션 */
header > nav.global-nav {
 padding: 0.75rem 0.75rem 1rem 0.75rem ;
}

header > nav.global-nav > ul {
 display: flex;
 justify-content: space-between;
}

header > nav.global-nav > ul > li > a {
 font-size: 1rem;
}

nav.local-nav {
 display: flex;
 align-items: center;
 padding: 0 0.75rem 0.75rem;
 border-bottom: 1px solid var(--main-gray);
}

nav.local-nav > .product-name {
 font-size: 1.75rem;
 font-weight: 800;
 margin-right: auto;
}

nav.local-nav > ul > li {
 font-size: 1rem;
 display: inline-block;
}

nav.local-nav > ul > li > a {
 padding: 0.5rem;
 width: 100%;
}

nav.local-nav > ul > li:last-child > a {
 padding-right: 0;
}